<h1>{{ text }}</h1>

<div id='slider' class='swipe'>
  <div class='swipe-wrap'>
    <div ng-repeat="slide in slides">
        <div class="thing" style="background:url(img/lightning{{slide.imgIdx}}.jpg) center no-repeat;background-size: cover">
            <div style="height:350px"></div>
            <div class="im-caption">{{slide.caption}}</div>
            <div class="im-metric">{{slide.metric}} {{stamp}}</div>
            <!-- <div style="height:{{(4-$index)*200+300}}px"></div> -->
            <div style="height:350px"></div>
        </div>
    </div>
  </div>
</div>

<div>Below the swipe</div>