<h1>{{ text }}</h1>

<div>
<a class="btn btn-primary" href="#">
  <i class="icon-refresh icon-spin"></i> Synchronizing Content...</a>
</div>


<!-- <div>
<i class="icon-flag icon-4x Zpull-left icon-border"></i>
Use a few of the new styles together ... lots of new possibilities.
</div>
 -->
<!-- 
<div>
<i class="icon-shield"></i>
<i class="icon-shield icon-rotate-90"></i>
<i class="icon-shield icon-rotate-180"></i>

<i class="icon-camera-retro icon-4x"></i> icon-camera-retro
</div>
 -->

<h2 class="metric">1280 W</h2>
 <!-- <img class="lightning" src="img/lightning.jpg"> -->
